//- https://parceljs.org/languages/html/#json-ld
//- script(type="application/ld+json").
  {
    "@context": [
      "https://schema.org",
      { "@language": "ru" }
    ],
    "@type": "LocalBusiness",
    "name": "Наименование",
    "description": "Описание",
    "telephone": "+7 999-999-9999",
    "email": "mailto:info@studio.ru",
    "openingHours": "Mo,Tu,We,Th,Fr 10:00-22:00",
    "logo": {
      "@type": "ImageObject",
      "url": "../static/android-chrome-512x512.png",
      "width": 512,
      "height": 512
    }
  }

//- https://hallanalysis.com/json-ld-generator/
script(type="application/ld+json").
  {
    "@context": [
      "http://www.schema.org",
      { "@language": "ru" }
    ],
    "@type": "EducationalOrganization",
    "name": "АкТер",
    "url": "https://akterstudio.ru",
    "logo": "/src/images/logo.svg",
    "description": "Балетная студия",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "ул. Название, стр. 1",
      "addressLocality": "Москва",
      "addressRegion": "Московская область",
      "postalCode": "000000",
      "addressCountry": "Россия"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "37",
      "longitude": "56"
    },
    "hasMap": "карта",
    "openingHours": "Mo, Tu, We 10:00-18:00 Th, Fr 08:00-09:00 Sa 09:00-10:00 Su -",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+7 985-245-6957",
      "contactType": "general"
    }
  }

//- Refs:
  - https://schema.org/mainEntity
  - https://schema.org/EducationalOrganization
  - https://schema.org/LocalBusiness
  - https://schema.org/LearningResource
  - https://schema.org/Course
  - https://schema.org/Ticket
  - https://schema.org/Schedule
  - https://schema.org/eventAttendanceMode
  - https://schema.org/Event
  - https://schema.org/EducationEvent

//- HTML markup example
//- append vars
  -
    const week = [
      {
        'name': ['Понедельник', 'Monday'],
        'hours': [10, 21]
      }, {
        'name': ['Вторник', 'Tuesday'],
        'hours': [10, 21]
      }, {
        'name': ['Среда', 'Wednesday'],
        'hours': [10, 21]
      }, {
        'name': ['Четверг', 'Thursday'],
        'hours': [10, 21]
      }, {
        'name': ['Пятница', 'Friday'],
        'hours': [10, 21]
      }, {
        'name': ['Суббота', 'Saturday'],
        'hours': [10, 22]
      }, {
        'name': ['Воскресенье', 'Sunday'],
        'hours': [10, 22]
      }
    ]
//- div(data-hidden)
  //- link(itemprop="url" href= data.meta.domain)
  img(
    itemprop="image"
    src="./images/interior.jpg"
    alt="Интерьер …"
    width="900" height="600"
    loading="lazy"
  )
  h1(itemprop="name")= data.meta.brand
  span(itemprop="description")= page.description
  span(itemprop="paymentAccepted") Наличные, кредитные карты
  span(itemprop="priceRange")
    | ₽₽₽
    //- 99–999 ₽
  span(itemprop="telephone")= data.meta.phone
  span(itemprop="address") ул., 1
  span(
    itemprop="geo"
    itemscope itemtype="https://schema.org/GeoCoordinates"
  )
    meta(itemprop="latitude" content="55.999999")
    meta(itemprop="longitude" content="37.999999")
  each day, i in week
    span(
      itemprop="openingHoursSpecification"
      itemscope itemtype="https://schema.org/OpeningHoursSpecification"
    )
      link(itemprop="dayOfWeek" href=`https://schema.org/${day.name[1]}`)
      | #{day.name[0]}:
      time(itemprop="opens" content=`${day.hours[0]}:00:00`)
        | #{day.hours[0]}:00 AM
      | –
      time(itemprop="closes" content=`${day.hours[1]}:00:00`)
        | #{day.hours[1]}:00 PM
