extends page

block vars
  - let page = data.pages.index
  -
    // https://github.com/cfjedimaster/Serverless-Examples/tree/master/recaptcha
    const HOST = 'https://www.google.com/recaptcha/api.js',
          KEY = '6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB'

append head-start
  if !isArrEmpty(hosts)
    each host in hosts
      link(rel="preconnect" href=`https://${host}` crossorigin)
      link(rel="dns-prefetch" href=`https://${host}` crossorigin)

//- append head-end
  script(src=`${HOST}?render=${KEY}&onload=initRecaptcha&render=explicit`)
  script(type="text/javascript").
    var initRecaptcha = function() {
      grecaptcha.ready(function() {
        grecaptcha.execute('6LchYK0UAAAAAMRflt6o0V_1imaH5KDnH5XVjWjB', { action: "homepage" }).then(function(token) {
          document.getElementById('recaptcha_token').value = token;
        });
      });
    }

mixin sec(props)
  - let { id, classes={}, attrs={}, ...rest } = props
  section(id= id class= classes)&attributes(attrs)
    block

block content
  section.grid
    section.container.bg-overlay#hero(data-sec="hero")
      video-player.grid__full(basename="footage-10s-prod")
      noscript.grid__full
        +video({
          sourcePath: 'static',
          sourceName: 'teaser',
          poster: '',
          dims: [1920, 1080] })
      hgroup(data-hidden)
        h1(itemprop="name")= brand.name
        p(itemprop="description" role="subtitle")= brand.desc
      .grid__center.logo: include ../images/logo.svg

      dfn(data-hidden)
        abbr(title= FULL_NAME)= ABBR_NAME

    section.container.spaced.--ada-lg#intent(data-sec="intent")
      .grid__start-half
        +head({
          level: 2,
          text: ['Открыт набор', 'на 2023–2024', 'учебный год'],
          split: 'chars' })
      article.flow.grid__end-half.--ada-lg
        p= intent
        p= lead
        +cta({
          type: 'anchor',
          link: '#contact',
          text: 'Оставить заявку'
        })(data-js-anim='bg-gradient')

    section.container.spaced.--ada-md#offer-childs
      .grid__third-lhs.sideways
        +head({ level: 2, text: 'Занятия для детей', split: 'chars' })
      .grid__third-rhs
        //- H2F: “class” prop will no longer be iterable if this is removed
        +carousel({
          id: 'child-classes',
          class: [],
          data: offerChilds,
          imageDims: 1350 / 1080,
          imagePath: 'childs',
          instance: 1,
          slideCols: 2,
          textWrap: 'article',
        })

    section.container.spaced.--ada-md#about
      article.flow.grid__center
        +head({ level: 2, text: about.head, split: 'chars' })
        p= about.body
        +cta({
          type: 'anchor',
          link: 'https://zoon.ru/msk/trainings/shkola_tantsev_akter_na_metro_dinamo/3d_tour/',
          text: 'Посмотреть студии'
        })(data-js-anim='bg-gradient', target='_blank')

    section.container.spaced.--ada-md#offer-adults
      .grid__third-lhs.sideways
        +head({ level: 2, text: 'Занятия для взрослых', split: 'chars' })
      .grid__third-rhs
        +carousel({
          id: 'adult-classes',
          class: [],
          data: offerAdults,
          imageDims: 1350 / 1080,
          imagePath: 'adults',
          instance: 2,
          slideCols: 2,
          textWrap: 'article',
        })

    section.container.spaced.--ada-md#partners
      .grid__center
        +head({ level: 2, text: 'Наши партнёры', split: 'chars' })
      .grid__full.d-grid.grid-items-center
        +marquee()

    section.container.spaced.--ada-md#teachers
      .grid__third-lhs.sideways
        +head({ level: 2, text: 'Команда педагогов', split: 'chars' })
      //- TODO: add markup https://schema.org/Person
      .grid__third-rhs
        +carousel({
          class: [],
          data: employees,
          imageDims: 1350 / 1080,
          imagePath: 'portraits',
          instance: 3,
          slideCols: 2,
          textWrap: 'article',
        })

    section.container.spaced.--ada-md#reviews
      .grid__center.d-grid.grid-items-center
        +head({ level: 2, text: 'Отзывы', split: 'chars' })
      .grid__content
        p.overline(
          itemprop="aggregateRating"
          itemscope itemtype="https://schema.org/AggregateRating"
          data-hidden
        )
          | #[span(itemprop="ratingValue")= 5] из 5 звёзд —
          | #[span(itemprop="reviewCount")= count(reviews)] отзывов на
          | #[+link({href: 'https://akterstudio.ru', text: 'АкТер'})]
        +carousel({
          class: [],
          data: reviews,
          type: 'review',
          instance: 4,
        })

    section.container.spaced.--ada-md#locate
      .grid__center: +head({ level: 2, text: 'Как добраться', split: 'chars' })
      +map({
        classes: 'grid__full',
        addSidebar: true })

    section.container.spaced.--ada-md#contact
      .grid__center: +head({ level: 2, text: 'Пишите нам', split: 'chars' })
      .grid__content: +form({
        class: '',
        endpoint: '294b2d20',
        phone: data.meta.phone,
        recaptcha: true })
      //- offer: data.pages.offer.path[0]

    //- section#feed(aria-label="all blog posts") // News Feed (NF)
    //- +sec({
      id: 'feed',
      attList: {
        'aria-label': 'all blog posts',
        'data-sec': 'news' } })

block scripts
