-
  // SP(s)
  const social = [{
    'icon': 'vk',
    'href': 'https://vk.com/akterballetstudio',
    'prop': 'sameAs'
  }, {
    'icon': 'tg',
    'href': 'https://t.me/akter_studio',
    'prop': 'sameAs'
  }]
-
  const contacts = [{
    'icon': 'at', // &commat;
    'email': {
      'to': data.meta.email,
      'subject': '',
      'body': ''
    }
  }]
-
  // Navigation anchors
  const hashLinks = [
    {
      'title': 'Главная',
      'path': '/'
    }, {
      'title': 'Расписание',
      'path': './agenda.pug'
    }, {
      'title': 'Детям',
      'path': '/#child-activities',
    }, {
      'title': 'Взрослым',
      'path': '/#adult-activities'
    }, {
      'title': 'Педагоги',
      'path': '/#teachers'
    }, {
      'title': 'Отзывы',
      'path': '/#reviews'
    }, {
      'title': 'Контакты',
      'path': '/#contact'
    }, {
      'title': 'Галерея',
      'path': './gallery.pug'
    }
  ]
-
  const meta = {
    'saller': 'ИП [название]',
    'number': 'ИНН NNNNNNNNNNNN / ОГРНИП NNNNNNNNNNNNNNN',
    'adds': [
      'NNNNNN, МО, г. Москва, ул. [название], NN, кв. NN'
    ],
    'email': data.meta.email,
    'phone': data.meta.phone,
  }
-
  // Федеральное государственное учреждение культуры
  const FSUE = {}, {
    FULL_NAME = 'Государственный академический театр классического балета',
    ABBR_NAME = 'ГАТКБ',
    HEADED_BY = `под руководством Н.${NNBSP}Касаткиной и В.${NNBSP}Василёва`,
    TRADE_FULL_NAME = `${FULL_NAME} ${HEADED_BY}`,
    TRADE_ABBR_NAME = `${ABBR_NAME} ${HEADED_BY}`,
  } = FSUE
-
  // Intent • (Намерение | Цель | Замысел)
  const lead = 'Чтобы определить уровень вашей подготовки и выбрать подходящюю группу, приходите на просмотры по адресу: ул. Скаковая, 3с1.'
-
  // Title • (lead | subtitle)
  const intro = {
    'head': ['Студия балета', 'АкТер'],
    'body': `Балетная студия «АкТер» при ${TRADE_ABBR_NAME} объявляет новый набор на занятия балетной хореографией и актерским мастерством.`
  }
-
  // https://schema.org/about
  // About (desc)
  const about = {
    'head': 'О студии',
    'body': `С 2009 года мы существуем для всех, кто мечтает танцевать. В просторных залах дети обучаются мастерству балетного и танцевального искусства, приобщаются к большой профессиональной сцене, готовятся к поступлению в МГАХ под руководством профессиональных педагогов${spacedEmDash}бывших и действующих артистов балетной сцены, успешно выступают на ведущих площадках Москвы с собственными спектаклями. А взрослые не только развивают своё тело и пробуют себя в балетном искусстве, но и развиваются в других танцевальных стилях.`
  }
//-
  // https://schema.org/director
  // https://schema.org/founder
  // Head's CV
  const leader = {
    'name': 'Терещенко Оксана Георгиевна',
    'cv': [
      `Терещенко Оксана Георгиевна${spacedEmDash}художественный руководитель студии.`,
      'Окончила Московское государственное балетное училище при Большом театре по классу артистка балета. Является лауреатом 4-го Международного конкурса артистов балета в Москве. Окончила Московскую акдемию хореографии по классу педагог-балетмейстер. Удостоена премии «Синергия социального служения» газеты «Музыкальный Клондайк» за бескорыстное служение культуре и людям, ответственную гражданскую позицию и высокий профессионализм.',
      'В 1992 году начала работать в Театре классического балета как солистка и ведущий мастер сцены. Работала как хореограф РАМТ с драматическими артистами. С 2005 ведет педагогическую деятельность. Сейчас работает не только в своей студии, но и как приглашенный балетмейстер в России и за рубежом.'
    ]
  }
//-
  // https://schema.org/audience
  // Target (audience | area | market | sphere)
  // Преимущества для специалистов из различных сфер деятельности (ЦА)
  // Кому… (будет полезен | пойдёт на пользу | поможет) • Who will benefit?
  const benefits = [
    {
      'text': '…',
    }, {
      'text': '…',
    }
  ]
-
  // https://schema.org/department
  // Mo, Tu, We, Th, Fr, Sa, Su
  // "openingHours": ["Mo-Fr 10:00-19:00", "Sa 10:00-22:00", "Su 10:00-21:00"]
  // "openingHours": "Mo,Tu,We,Th 09:00-12:00"
  const locs = [{
    'type': '',
    //- 'name': 'м. Динамо',
    'name': 'Студия на ул. Скаковая',
    'payment': 'Наличные, кредитные карты',
    'desc': '',
    'adds': 'ул. Скаковая, 3 строение 1',
    'open': {
      'Mo-Sa': '11:00–22:00',
      //- 'Пн-Сб': '11:00–22:00',
    },
    'lat': 55.783240,
    'lng': 37.566952,
    //- 'tel': '+7 999 99-99-99',
    //- 'smp': [{ 'icon': 'vk', 'href': 'https://vk.com/' }]
  }, {
    'type': '',
    //- 'name': 'м. Прокшино',
    'name': 'Студия в деревне Николо-Хованское',
    'payment': 'Наличные, кредитные карты',
    'desc': '',
    'adds': 'деревня Николо-Хованское, 146А',
    'open': {
      'Mo,We,Fr': '16:30–21:00',
      //- 'Пн,Ср,Пт': '16:30–21:00',
    },
    'lat': 55.593273,
    'lng': 37.441637,
  }, {
    'type': '',
    //- 'name': 'м. Юго-Западная',
    'name': 'Студия на просп. Вернадского',
    'payment': 'Наличные, кредитные карты',
    'desc': '',
    'adds': 'просп. Вернадского, 95, корп. 4',
    'open': {
      'Mo,We,Th': '17:00–19:00',
      //- 'Пн,Ср,Чт': '17:00–19:00',
    },
    'lat': 55.665325,
    'lng': 37.497877,
  }]
//-
  // https://schema.org/Syllabus
  // Syllabus
  // Schedule & workshops
  // Расписание/график/план/программа
  // занятий/мастер-классов/семинаров/практикумов/симпозиума/курса
  const agenda = [
    {
      'date': 'Сб, 3 дек.',
      'listTitle': '…',
      'listItems': [
        {
          'text': '…',
          'icon': BULL
        }, {
          'text': '…',
          'icon': BULL
        }
      ]
    }
  ]
-
  // TODO: Colour differentiation of lessons (by classes)
  const village = [
    {
      day: 1, // Пн
      sessions: [{
        name: '3–6 лет',
        type: '--type2',
        start: [16,30],
        end: 18,
      },{
        name: '7–10 лет',
        type: '--type5',
        start: 18,
        end: [19,30],
      },{
        name: '14+',
        type: '--type8',
        start: 18,
        end: 19,
      }]
    },{
      day: 3, // Ср
      sessions: [{
        name: '3–6 лет',
        type: '--type2',
        start: [16,30],
        end: 18,
      },{
        name: '7–10 лет',
        type: '--type5',
        start: 18,
        end: [19,30],
      }]
    },{
      day: 5, // Пт
      sessions: [{
        name: '3–6 лет',
        type: '--type2',
        start: [16,30],
        end: 18,
      },{
        name: ['7–10 лет', '14+'],
        type: ['--type5', '--type8'],
        start: 18,
        end: [19,30],
      }]
    }
  ]
-
  const balance = [
    {
      day: 1, // Пн
      sessions: [{
        name: '3–5 лет',
        type: '--type1',
        start: 17,
        end: 18,
      }]
    },{
      day: 3, // Ср
      sessions: [{
        name: '3–5 лет',
        type: '--type1',
        start: 17,
        end: 18,
      },{
        name: '6–9 лет',
        type: '--type4',
        start: 18,
        end: 19,
      }]
    },{
      day: 4, // Чт
      sessions: [{
        name: 'Актёрское мастерство',
        type: '--type9',
        start: 17,
        end: 18,
      },{
        name: 'Актёрское мастерство',
        type: '--type9',
        start: 18,
        end: 19,
      }]
    }
  ]
-
  const central = [
    {
      day: 1, // Пн
      sessions: [{
        name: ['6–8 лет', '8–10 лет'],
        type: ['--type3', '--type6'],
        start: 18,
        end: [19, 30],
      },{
        name: '14+',
        type: '--type8',
        start: 20,
        end: 21,
      }]
    },{
      day: 2, // Вт
      sessions: [{
        name: ['3–5 лет', '5–8 лет'],
        type: ['--type1', '--type2'],
        start: [16, 30],
        end: 18,
      },{
        name: '14+',
        type: '--type8',
        start: [16,30],
        end: [17,30],
      },{
        name: '9–14 лет',
        type: '--type7',
        start: 18,
        end: 19,
      }]
    },{
      day: 3, // Ср
      sessions: [{
        name: 'Люди с ограниченными возможностями',
        type: '--type10',
        start: 16,
        end: 17,
      },{
        name: ['6–8 лет', '8–10 лет'],
        type: ['--type3', '--type6'],
        start: 18,
        end: [19,30],
      },{
        name: '14+',
        type: '--type8',
        start: 20,
        end: 21,
      }]
    },{
      day: 4, // Чт
      sessions: [{
        name: ['3–5 лет', '5–8 лет'],
        type: ['--type1', '--type2'],
        start: 16,
        end: 17,
      },{
        name: '14+',
        type: '--type8',
        start: [16,30],
        end: [17,30],
      },{
        name: '9–14 лет',
        type: '--type7',
        start: 18,
        end: [19,30],
      }]
    },{
      day: 5, // Пт
      sessions: [{
        name: ['3–5 лет', '5–8 лет'],
        type: ['--type1', '--type2'],
        start: [16,30],
        end: 18,
      },{
        name: '14+',
        type: '--type8',
        start: [16,30],
        end: [17,30],
      },{
        name: '9–14 лет',
        type: '--type7',
        start: 18,
        end: [19,30],
      },{
        name: 'Актёрское мастерство',
        type: '--type9',
        start: 18,
        end: 19,
      },{
        name: '14+',
        type: '--type8',
        start: 20,
        end: 21,
      }]
    },{
      day: 6,
      sessions: [{
        name: ['6–8 лет', '8–10 лет'],
        type: ['--type3', '--type6'],
        start: 10,
        end: 11,
      }]
    }
  ]
-
  const offers = {
    'lead': 'Можно приобрести абонементы сразу на несколько занятий, при этом действует скидочная система:',
    'list': [{
      'text': {'1 мес.': '' },
      'text': {'3 мес.': 'скидка 5%' },
      'text': {'6 мес.': 'скидка 10%' },
      'text': {'1 год': 'скидка 15%' },
    }]
  }
-
  // child activities
  const slides1 = [
    {
      'id': 'Возраст: 2–3 года',
      'title': 'Ритмическая гимнастика',
      //- 'field': [{ 'text': { 'key': 'val' } }],
      'text': 'Занятия под музыку, при котором её содержание, настроение и образы передаются через движения. Занимаясь ритмикой, дети учатся воспринимать и понимать музыку, приобретают коммуникативные навыки, развивают координацию движений и чувство ритма.'
    },{
      'id': 'Возраст: 3–14 лет',
      'title': 'Классическая хореография',
      'text': `Та основа, которая пригодится для любого танцевального направления. Включает в себя работу у станка, физическую подготовку мышц, растяжку, упражнения на координацию движений и выносливость, способствует гармоничному физическому развитию.`
    },{
      'id': 'Возраст: 3–14 лет',
      'title': 'Народно-сценический танец',
      'text': 'Основоположник огромного разнообразия движений и элементов в классическом балете. Танцора обогащает знанием о хореографическом искусстве, обучает манере, характеру исполнения, развивает музыкальность, танцевальность и эмоциональность.'
    },{
      'id': 'Возраст: 5–15 лет',
      'title': 'Актёрское мастерство',
      'text': `Делает акцент на изучении эмоционального интеллекта артиста и помогает раскрыть, понять и контролировать свои эмоции, а также управлять ими в нужном русле, ведь танцорам полезно изучать не только возможности своего тела, но и глубину своих эмоций.`
    }
  ]
-
  // adult activities
  // 'Возраст: от 14 лет и старше'
  const slides2 = [
    {
      'title': 'Балетная хореография',
      'text': `Пластика, подтянутые и крепкие мышцы, растяжка, координация движений и здоровая осанка,${spacedEmDash}всё это дают занятия балетом. Через несколько недель тренировок вы почувствуете грациозность и легкость, уйдут мышечные зажимы, наладятся сон и настроение.`
    }, {
      'title': 'Стретчинг (растяжка)',
      'text': 'Комплекс упражнений, который сделает тело более гибким, послушным, стройным и подтянутым. Кроме того, такие нагрузки способствуют улучшению кровотока, а значит нормальному питанию клеток организма, а за счёт укрепления мышц корректируется осанка.'
    }, {
      'title': 'Бачата',
      'text': 'Танец, пришедший из жаркой Доминиканы, научит каждого прекрасно владеть своим телом, выражать настроение и душевное состояние. Самый романтичный и популярный латиноамериканский танец расслабит тело, нервную систему и поднимет настроение.'
    }
  ]
-
  //- https://schema.org/employees
  const employees = [
    {
      'id': 'Педагог-хореограф и художественный руководитель студии',
      'title': 'Терещенко Оксана Георгьевна',
      'text': [
        'Окончила МГАХ при «Большом театре» по классу артистка балета и «Московскую академию хореографии» по классу педагог-балетмейстер.',
        `Работала солисткой ${TRADE_ABBR_NAME} и хореографом РАМТ с драматическими артистами. Лауреат 4-го Международного конкурса артистов балета в Москве.`]
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Кравченко Наталья Геннадьевна',
      'text': [
        'Окончила «Московское академическое хореографическое училище», балетмейстерский факультет ГИТИС.',
        'Работала в «Большом театре» артисткой в балетных и оперных спектаклях, участвовала в гастрольных поездках с труппой, принимала участие в мастер-классах в Милане, Японии, Южной Корее.']
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Шилкова Мария Валерьевна',
      'text': [
        'Окончила Пермское государственное педагогическое училище.',
        `Работала солисткой балета в Государственном академическом театре оперы и балета города Екатеринбург и в Московском ${ABBR_NAME} в должности артистки высшей категории. Принимала участие в проектах с Михаилом Лавровским и Андрисом Лиепа.`]
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Косова Вероника Игоревна',
      'text': [
        'Получает педагогическое образование в Российском университете дружбы народов. Воспитанница студии, имеет двухлетний опыт работы с детьми.',
        `Участвовала в спектаклях ${TRADE_ABBR_NAME}: «Щелкунчик», «Кракатук», «Коппелия», «Маугли», «Сотворение мира».`]
    }, {
      'id': 'Педагог по актерскому мастерству',
      'title': 'Аронс Александра Юрьевна',
      'text': [
        `Окончила «Российский институт театрального искусства», мастерскую ${initials({
          first:'А', mid:'В', last:'Бородина'
        })}.`,
        `С 2013 года по настоящее время является актрисой «Российского академического молодёжного театра» (РАМТ). Имеет большой опыт работы не только как актриса театра, кино и дубляжа, но и как детский педагог.`]
    }, {
      'id': 'Педагог по актерскому мастерству',
      'title': 'Кузьмина Анна Александровна',
      'text': [
        `Окончила РАТИ-ГИТИС, курс ${initials({
          first:'А', mid:'В', last:'Андреева'
        })}.`,
        `Работала в «Театре имени Ермоловой» и «Российском академическом молодёжном театре». Имеет большой опыт в съёмках, театральных работах и преподавании актерского мастерства. Лауреат премии «Золотой лист» 2012 года за роль Уилли в спектакле «Предназначено на слом».`]
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Жарков Владимир Александрович',
      'text': [
        'Окончил МГАХ по специальности «педагогика балета».',
        `Работал солистом «Тбилисского академического театра оперы и балета», ${TRADE_ABBR_NAME}, Русского балета ${initials({
          first:'В', last:'Гордеева'
        })}.`,
        'Имеет большой опыт работы с артистами в области развития профессиональных данных и постижения основ балета.']
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Галеминская Изольда Викторовна',
      'text': [
        'Окончила ПГХУ (артист балета) и ИСИ (педагогика).',
        `Преподавала в Китае, Италии и США. В Америке готовила воспитанников балетных студий для участия в спектаклях театра «Русский балет» под управлением ${initials({first:'В', mid:'В', last:'Лантратова'})}. Была одним из первых хореографов детского отделения мюзикла «Норд-ост».`]
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Жаркова Наталья Петровна',
      'text': [
        `Окончила Тбилисское государственное хореографическое училище, где продолжила работать как солистка.`,
        `1988–2018 гг.${spacedEmDash}артистка ${TRADE_ABBR_NAME}, исполняла ведущие и сольные партии репертуара театра в постановках балетмейстеров ${
          initials({first:'В', last:'Чабукиани'}) + ', ' +
          initials({first:'М', last:'Лавровского'}) + ', ' +
          initials({first:'Г', last:'Алексидзе'})
        }.`]
    }, {
      'id': 'Педагог-хореограф',
      'title': 'Шилкова Александра Валерьевна',
      'text': [
        'Окончила «Пермское государственное училище» по классу артистка балета.',
        `Работала в «Свердловском академическом театре оперы и балета имени Луначарского», в театре «Классики и хореографии под руководством ${
          initials({first:'А', mid:'А', last:'Прокофьева'})
        }», балетной труппе при «Дягилев-Центре» (в Москве), ${TRADE_ABBR_NAME}.`]
    }
  ]
-
  // Format:
  // • https://www.rfc-editor.org/rfc/rfc3339#section-5.6
  // • https://www.w3.org/TR/2014/REC-html5-20141028/text-level-semantics.html#the-time-element
  const reviews = [
    {
      'date': '8-14-2022T11:55:09',
      'rating': 5,
      'title': 'Балетом теперь «болеем»',
      'text': [
        `Одна из лучших студий Москвы! Профессиональный уровень преподавания, возможность выступать на различных сценах Москвы (почувствовать себя настоящими артистами балета!). Благодаря высоким требованиям дети показывают хорошие результаты. Требовательность может не всем понравиться, но лично мы занимаемся по принципу «по головке погладят дома, а в своём деле трудись, старайся, пытайся, достигай». Наш педагог, Оксана Георгиевна, вкладывает в ребят все свои знания и мастерство. Спасибо Вам большое за это!`
      ],
      'user': { 'name': 'Александр' }
    }, {
      'date': '8-14-2022T11:55:09',
      'rating': 5,
      'title': 'Привожу дочку и танцую сама',
      'text': [
        `Есть занятия для взрослых, растяжка и работа у станка для любого уровня, привожу дочку и танцую сама. Очень нравится преподаватель Жарков Владимир Александрович, опыт работы которого${spacedEmDash}почти вся жизнь: и с новичками, и с профессионалами. Рекомендую!`
      ],
      'user': { 'name': 'Виолетта' }
    }, {
      'date': '8-14-2022T11:55:09',
      'rating': 5,
      'title': 'Замечательная балетная студия',
      'text': [
        `Прекрасный педагог${spacedEmDash}Шилкова Александра Валерьевна. Ходим к ней не первый год, ребенок ходит с большим удовольствием. Студия ставит свои спектакли, еще дети учувствуют в спектаклях с артистами балета, что дополнительно их мотивирует.`
      ],
      'user': {
        'name': 'Наталья',
        //- 'link': 'https://'
      }
    }, {
      'date': '8-14-2022T12:40:32',
      'rating': 5,
      'title': 'Одна из лучших студий Москвы!',
      'text': [
        'Профессиональный уровень преподавания, возможность выступать на различных сценах Москвы (почувствовать себя настоящими артистами балета!). Благодаря высоким требованиям дети показывают хорошие результаты. Требовательность может не всем понравиться, но лично мы занимаемся по принципу «по головке погладят дома, а в своём деле трудись, старайся, пытайся, достигай». Наш педагог, Оксана Георгиевна, вкладывает в ребят все свои знания и мастерство. Спасибо Вам большое за это! Балетом теперь «болеем»:)'
      ],
      'user': { 'name': 'Александр' }
    }, {
      'date': '8-17-2022T11:36:29',
      'rating': 5,
      'title': 'Здесь прививают любовь к балету',
      'text': [
        'Приятно заниматься балетом в студии, где служат искусству, а не коммерции. Большие профессиональные залы, всегда классическая музыка, дисциплина, спокойствие, выступления с артистами Балета, своя костюмерная. Здесь прививают любовь к балету. Отдельное Спасибо нашему педагогу Марии Радивоевне, которая вкладывает душу в каждого ученика! Нам очень повезло, что мы нашли свою студию и своего педагога!'
      ],
      'user': { 'name': 'Анна' }
    }
  ]
