//-
  “Sectioning content, heading content, phrasing content, embedded content,
   and interactive content are all types of flow content.”

  Intent:
    Filters flow content by the component content models
    defined in the '../mixins/' directory.

  Spec parts:
    → https://html.spec.whatwg.org/multipage/dom.html#content-models
    → https://html.spec.whatwg.org/multipage/dom.html#kinds-of-content
    → https://html.spec.whatwg.org/multipage/text-level-semantics.html

//- TODO: make more useful as it is currently only used
          for articles in carousel slides

//- or flowFilter(elem)
mixin dataFilter(entry)
  -
    // reflects common component properties for data
    // defined in the file '../static-data.pug'
    let {
      title='',
      field='',
      link='',
      text='',
      date='',
      desc='',
      ...rest
    } = entry

  if title
    +head({ text: title, level: 3, overline: desc })
  if field
    +list({ items: field, icon: MARKER })
  if text
    if Array.isArray(text)
      each line in text
        p= line
    else
      p= text
  if link
    +link({ href: link, icon: 'ig' })

mixin textContent(props)
  -
    let {
      parentDOM: wrap='',
      classList: classes=['flow', 'carousel__text'],
    } = props

  if wrap === 'article'
    article(class= classes): block
  else if wrap === 'caption'
    figcaption(class= classes): block
