mixin video(props)
  -
    let {
      assetPrefix = SRC, // <-- same as dirName
      sourcePath = 'video', // <-- same as baseName or basePath
      sourceName = 'cover', // 'footage-15s', 'promo-vd', 'teaser', etc…
      base = sourcePath ?? '',
      //- dims: {
      //-   hdim = 1920,
      //-   vdim = 1080,
      //- },
      dims = [],
      desc = '',
      format = ['mp4'] ?? '',
      poster = '',
      ...rest
    } = props
  -
    let attrs = {
      autoplay: '',
      muted: '',
      loop: '',
      playsinline: '', // muted video play inline w/o user interaction
    }
  -
    let pathInfo = `${DD}${SEP}${base}`
    let fileName = `${pathInfo}${SEP}${sourceName}` // + `${D}${format}`

  video(alt= (desc || '')
        width= dims[0]
        height= dims[1]
  )&attributes({...attrs})
    each ext in format
      source(src=`${fileName}${D}${ext}` type=`video/${ext}`)
